a {
    color: #000;
}

body {
    background: #eee;
    color: #393939;
    font-family: Courier, serif;
    font-size: 62.5%;
    line-height: 1;
    margin: 0;
    padding: 0;
}

h1 {
    background: transparent url('../img/sprite.png') left -240px no-repeat;
    height: 40px;
    margin: 0 0 30px 0;
    padding: 0;
    text-indent: -9999px;
    width: 470px;
}

h2 {
    background: transparent url('../img/sprite.png') left -300px no-repeat;
    height: 21px;
    margin: 0 0 30px 0;
    padding: 0;
    text-indent: -9999px;
    width: 447px;
}

ol {
    display: inline-block;
    list-style: none;
    margin: 0 0 5px 0;
    padding: 0;
}

ol a {
    display: block;
    height: 100%;
    text-indent: -9999px;
    width: 100%;
}

ol li {
    background: transparent url('../img/sprite.png') left top no-repeat;
    float: left;
    height: 100px;
    margin: 0 30px 30px 0;
    width: 100px;
}

p {
    font-size: 1.2em;
    font-style: italic;
    line-height: 1.7;
    margin: 0 0 30px 0;
    padding: 0;
}

section {
    display: block;
}

.analysysMason {
    background-position: 0 -720px;
}

.barclays {
    background-position: -240px -360px;
}

.bT {
    background-position: -120px -480px;
}

.close {
    background-position: -120px -360px;
}

.content {
    display: block;
    margin: 0 auto;
    padding: 110px 0;
    width: 810px;
}

.dresdnerKleinwort {
    background-position: -120px -720px;
}

.eMCConsulting {
    background-position: -360px -360px;
}

.expedia {
    background-position: -240px -120px;
}

.facebook {
    background-position: 0 -120px;
}

.flickr {
    background-position: -240px 0;
}

.gitHub {
    background-position: 0 -820px;
}

.hotelsCom {
    background-position: 0 -480px;
}

.hMV {
    background-position: -240px -480px;
}

.hutchinson3G {
    background-position: -360px -480px;    
}

.lastFM {
    background-position: -360px 0;
}

.lBi {
    background-position: -120px -600px;
}

.linkedIn {
    background-position: -120px 0;
}

.lWrenScott {
    background-position: -120px -120px;
}

.mickJagger {
    background-position: -120px -820px;
}

.playfish {
    background-position: -360px -120px;
}

.someone {
    background-position: -240px -820px;
}

.someoneElse {
    background-position: -360px -820px;
}

.sonyComputerEntertainmentEurope {
    background-position: -360px -600px;
}

.standardChartered {
    background-position: -240px -720px;
}

.twitter {
    background-position: 0 0;
}

.unilever {
    background-position: -360px -720px;
}

.universalMusic {
    background-position: -240px -600px;
}

.virginMedia {
    background-position: 0 -360px;
}

.social li:focus,
.social li:hover {
    opacity: 0.8;
}

.work {
    margin: 0 0 60px 0;
}

.work li {
    text-indent: -9999px;
}